// ==========================================================================
// #Scheme Site
// ==========================================================================

.scheme-color {

	&__option {
		display: inline-block;
	    width: 24%;
	    padding: 5px 15px 15px;
	    margin-bottom: 3px;
	    cursor: pointer;

	    &:hover {
	    	background-color: #ddd;
	    }

	    &.is-selected {
			background-color: #ddd;
		}
	}

	&__palette {
		width: 100%;
	    border-spacing: 0;
	    border-collapse: collapse;

	    & td {
	   		height: 57px;
		    padding: 0;
		    border: none;
		    border-radius: 10%;
	    }
	}

}