// ==========================================================================
// #Theme Background
// ==========================================================================

.theme-bg {

	&__list {
		@include clearfix;
	}

	&__item {
		width: 50%;
		height: 430px;
		overflow: hidden;
		border-radius: 23px;
		cursor: pointer;
		border: 3px solid transparent;
		float: left;
		opacity: .8;

		&:hover {
			border-color: orange;
			opacity: .88;
			transition: opacity .15s ease-in-out;
		}

		&.is-active {
			border-color: gold;
			opacity: 1;
			transition: opacity .15s ease-in-out;
		}

		@include media-query(medium) {
			width: 33.3333%;
			height: 120px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		background-size: cover;
	}

}