// ==========================================================================
// #Buttons
// ==========================================================================

.btn {
    color: white;
    font-weight: bold;
    padding: 7px 11px;
    border: 0;
    @include transition(.25 ease-in-out);
}