// ==========================================================================
// #Site Nav
// ==========================================================================

.site-nav {
	text-align: center;
    position: relative;
    z-index: 30;
    border: 3px solid #232323;
    background-color: #292929;
    flex: 33.33%;
    position: absolute;
    width: 100%;
    transition: .15s;
    z-index: 1000;
    @include transform(translateY(-100%));

    &.is-active{
    	@include transform(translateY(0));
    }

    @include media-query(medium) {
    	padding: 1rem 0 0 0;
        flex: 0 0 100px;
    }

    @include media-query(large) {
    	position: fixed;
    	width: 140px;
    	overflow-y: scroll;
    	transform: unset;
 
	    left: 0;
	    bottom: 0;
	 	top: 78px;
	    overflow: auto;
	    z-index: 99;

   		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar {
			width: 12px;
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar-thumb {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			background-color: #555;
		}
    }
    
	&__list {
		display: flex;
		width: 100%;
		flex-wrap: wrap;

		@include media-query(medium) {
			justify-content: space-between;
		}

		@include media-query(large) {
			display: block;
			width: unset;
			flex-wrap: unset;
			justify-content: none;
		}
	}

	&__item {
	    flex-basis: 33.3333%;

	    @include media-query(medium) {
	    	width: auto;
	    	flex-basis: unset;
	    }

	     @include media-query(medium) {
	    	width: unset;
	    }
	}

	&__link {
		color: white;
		display: block;
		font-size: 3em;
		line-height: 1rem;
		font-weight: 500;
	    letter-spacing: 0.04rem;
	    padding: 0.75rem 0.5rem;
	    text-transform: uppercase;
	    margin: 3px 4px;

	    &:hover {
	    	background: #252527;
	    }
	}

	&__icon {
		pointer-events: none;
	    display: block;
	    margin: 0 auto 0.1rem;
	    fill: white;
	    display: block;
	}

	&__text {
		display: block;
		font-size: .6rem;
	}

}
